.dialog {
    position: absolute;
    background: var(--color-primary);
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    border-radius: 6px;
    box-shadow: 3px 3px 0px 2px var(--color-accent);
    border: 2px solid var(--color-accent);
}

.dialog__header {
    position: sticky;
    top: 0;
    background-color: var(--color-dialog-header);
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-accent);
    user-select: none;
}

.dialog__header h4 {
    font-weight: unset;
}

.dialog__title {
    margin: 0 auto;
    pointer-events: none;
}

.dialog__close-btn {
    color: var(--color-accent);
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.dialog__close-btn:hover {
    color: #2e1f5c;
}

.dialog-game {
    width: 800px;
    height: 600px;
    box-sizing: content-box;
    overflow: hidden;
}

.dialog-game__frame {
    flex: 1;
    display: flex;
    align-items: center;
    border: none;
}
