.dialog-game {
  width: 800px; /* width: 889px; (for local testing) */
  height: 600px; /* height: 663px; (for local testing) */
  box-sizing: content-box;
  overflow: hidden;
}

.dialog-game__frame {
  flex: 1;
  display: flex;
  align-items: center;
  border: none;
  /* min-height: 100%; */
}
