.dialog-game {
  width: 889px;
  height: 663px;
  box-sizing: content-box;
  overflow: hidden;
}

.dialog-game__frame {
  flex: 1;
  display: flex;
  align-items: center;
  border: none;
  /* min-height: 100%; */
}
