/* ============================= */
/*  PORTFOLIO                    */
/* ============================= */
.dialog-portfolio {
  width: min(90%, 900px);
  overflow: auto;
  font-family: var(--font-secondary);
  border: 1px solid var(--color-border, #ccc);
  border-radius: 8px;
}

/* ==================================== */
/*  CONTENT -> SUBTITLE                 */
/* ==================================== */
.dialog-portfolio__subtitle {
  padding: 10px 20px;
  border-bottom: 1px solid;
  justify-content: center;
  align-items: center;
}

/* ==================================== */
/*  CONTENT -> PREVIEW-PANEL            */
/* ==================================== */
.dialog-portfolio__preview {
  margin: 0px 30px;
}

.preview-panel {
  align-items: center;
  margin: 15px 0;
}

.preview-panel__info {
  flex: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-panel__title {
  font-size: 1.875rem; /* 30px */
}

.preview-panel__view-btn {
  padding: 10px 20px;
  background-color: var(--color-button-bg);
  border: 2px solid var(--color-accent);
  border-radius: 6px;
  box-shadow: 2px 2px 0px 1px var(--color-accent);
  cursor: pointer;
  font-size: 0.875rem; /* 14px */
  transition:
    background-color 0.3s,
    transform 0.1s;
}

.preview-panel__view-btn:active {
  background-color: var(
    --color-button-bg-active
  ); /* Darker shade when pressed */
  transform: translateY(2px); /* Slight downward shift to simulate press */
  box-shadow: 1px 1px 0px 0px var(--color-accent); /* Reduce shadow on press */
}

.preview-panel__spacer {
  flex: 2;
}

/* ==================================== */
/*  CONTENT -> PREVIEW-SELECT           */
/* ==================================== */
.preview-select {
  flex: 1; /* Allow it to take remaining space */
  margin-bottom: 25px;
}

.preview-select__image {
  flex: 10;
  margin: 0;
}

.preview-select__image img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 3px 4px 1px 0px var(--color-shadow);
  border: 4px solid white;
}

.preview-select__folders-column {
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
}

.folder-icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

/* ============================= */
/*  RESPONSIVE DESIGN            */
/* ============================= */
@media (max-width: 1100px) {
  .dialog-portfolio {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .dialog-portfolio {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .dialog-portfolio {
    width: 80%;
  }
}
